@{
    Layout = "_Layout";
}
<div class="box-2">
    <div class="container">
        <div class="box-2-left">
            <div class="title">
                <h1>nike sportwear</h1>
            </div>
            <div class="text">
                <p>
                    The Huarache E.D.G.E. takes cues from a shoe familiar to Preston, the 1991
                    Huarache Run, but re-imagines the latter's bootie fit with a FOAM FIT system that sits
                    the foot directly on the foam rather than a sockliner. Preston adds his own unique branding cues (including
                    signature icons on the heel and toe box), granting aesthetic intrigue to the contemporary comfort play.
                </p>
            </div>
        </div>
        <div class="box-2-right">
            <div class="data">
                <div class="info">
                    <h2>NEW RELESES</h2>

                    <h2>NEW RELESES</h2>

                    <h2>NEW RELESES</h2>

                    <h2>NEW RELESES</h2>

                    <button>shop now</button>
                </div>
            </div>
        </div>
    </div>
</div>
